<h1> edit</h1>


<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for @artiste do |f| %>
        <%= f.input :name %>
        <%= f.input :genre %>
        <%= f.input :biography %>
        <%= f.input :description %>
        <%= f.input :les_dessous %>
        <%= f.input :youtube_link %>
        <%= f.input :youtube_nouveaute1, label: 'Vidéo youtube 1: section videos' %>
        <%= f.input :youtube_nouveaute2, label: 'Vidéo youtube 2: section videos' %>
        <%= f.input :youtube_nouveaute3, label: 'Vidéo youtube 3: section videos' %>
        <%= f.input :youtube_nouveaute4, label: 'Vidéo youtube 4: section videos' %>
        <%= f.input :instagram_link, label: 'Lien instagram pour contacts'%>
        <%= f.input :spotify_link, label: 'Lien spotify pour contacts'%>
        <%= f.input :tiktok_link, label: 'Lien tiktok pour contacts'%>
        <%= f.input :youtube_link_for_contacts, label: 'Lien youtube pour contacts'%>
        <%= f.input :photo, as: :file, label: 'Photo Artiste - Dimention : 630px : 420px' %>
        <%= f.input :photo_redirection_youtube, as: :file, label: 'Photo redirection youtube - Dimention : 176px : 161px' %>
        <%= f.input :reseau1, as: :file, label: 'screenshot insta - Dimention : 237px : 420px'%>
        <%= f.input :reseau2, as: :file, label: 'screenshot spotify - Dimention : 237px : 420px'%>
        <%= f.input :reseau3, as: :file, label: 'screenshot youtube - Dimention : 237px : 420px'%>
        <%= f.input :reseau4, as: :file, label: 'screenshot tiktok - Dimention : 237px : 420px'%>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>