<h1> edit</h1>

<div>
<%= simple_form_for @artiste do |f| %>
  <%= f.input :name %>
  <%= f.input :genre %>
  <%= f.input :biography %>
  <%= f.input :youtube_link %>
  <%= f.button :submit %>
<% end %>
</div>