<h1> new</h1>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for @artiste do |f| %>
        <%= f.input :name %>
        <%= f.input :genre %>
        <%= f.input :biography %>
         <%= f.input :photo, as: :file %>
        <%= f.submit "Create" %>
      <% end %>
    </div>
  </div>
</div>