<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
        <h1 class="main-header-show"><%= @artiste.name %></h1>
        <p class="artiste-genre"><%= @artiste.genre %></p>
        <p class="artiste-description"><%= @artiste.description %></p>
          <p class="line-1-show"></p>
          <p class="line-2-show"></p>
    </div>

    <div class="col-12 col-lg-4">
        <% if @artiste.photo.attached? %>
        <div>
          <%= cl_image_tag @artiste.photo.key, crop: :fill, :class => 'img-s-artiste' %>
          <div class="card-s-youtube">
            <%= cl_image_tag @artiste.photo.key, crop: :fill %>
            <div class="card-s-youtube-name">
                <h2>
                <%= @artiste.name %>
                <a href="<%= @artiste.youtube_link %>" target="_blank"> <i class="fas fa-play-circle"></i></a>
                </h2>
            </div>
          </div>
        </div>
        <% end %>
        <% if user_signed_in? %>
         <%= link_to "edit", edit_artiste_path , class: 'btn btn-primary'%>
        <% end %>
    </div>

  </div>
</div>


<div id="show-container" class="container show pt-5 mt-5 ">

  <div class="biography">
    <div class="col-12 col-lg-3">
      <h3 class="bio-s-title">BIOGRAPHY</h3>
      <p class="line-3-show"></p>
      <p class="line-3-show-bis"></p>
    </div>
    <div class="col-12 col-lg-9">
      <p class="bio-s"><%= @artiste.biography %></p>
    </div>
  </div>






  <div class="dessous">
    <div class="col-12 col-lg-3">
      <p class="dessous-s-title">LES DESSOUS DE L’ENTREVUE</p>
      <p class="line-4-show"></p>
      <p class="line-4-show-bis"></p>
    </div>

    <div class="col-12 col-lg-9">
        <p class="dessous-s"> <%= @artiste.les_dessous %></p>
    </div>
  </div>


  <div class="dernieres">
    <div class="col-12 col-lg-3">
      <p class="dessous-s-title">DERNIÈRES SORTIES</p>
      <p class="line-5-show"></p>
      <p class="line-5-show-bis"></p>
    </div>

    <div class="col-12 col-lg-9">
      <div class="cards">
        <% unless @artiste.youtube_nouveaute1.empty? %>
          <iframe width="333" height="200" src="<%= @artiste.youtube_nouveaute1%>" allowfullscreen></iframe>
        <% end %>
        <% unless @artiste.youtube_nouveaute2.empty? %>
          <iframe width="333" height="200" src="<%= @artiste.youtube_nouveaute2%>" allowfullscreen></iframe>
        <% end %>
        <% unless @artiste.youtube_nouveaute3.empty? %>
          <iframe width="333" height="200" src="<%= @artiste.youtube_nouveaute3%>" allowfullscreen></iframe>
        <% end %>
        <% unless @artiste.youtube_nouveaute4.empty? %>
          <iframe width="333" height="200" src="<%= @artiste.youtube_nouveaute4%>" allowfullscreen></iframe>
        <% end %>
      </div>
    </div>
  </div>

    <div class="contact">
      <div class="col-12 col-lg-3">
        <p class="dessous-s-title">CONTACT</p>
        <p class="line-6-show"></p>
        <p class="line-6-show-bis"></p>
      </div>

      <div class="col-12 col-lg-9">
       <% if @artiste.reseau1.attached? %>
        <h3 class="horizontal-show-insta">INSTAGRAM</h3>
        <%= cl_image_tag("ceyzngimbraboahlorc5",class:"iphone1") %>
        <%= cl_image_tag @artiste.reseau1.key, crop: :fill, :class => 'img-s-reseau1' %>
       <% end %>
       <% if @artiste.reseau2.attached? %>
       <h3 class="horizontal-show-spotify">SPOTIFY</h3>
        <%= cl_image_tag("ceyzngimbraboahlorc5",class:"iphone2") %>
        <%= cl_image_tag @artiste.reseau2.key, crop: :fill, :class => 'img-s-reseau2' %>
      <% end %>
      </div>
    </div>

</div>

<div>
  <%= link_to "back to list", artistes_path, class: 'btn btn-light' %>
</div>
</div>


