<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
        <h1 class="main-header-show"><%= @artiste.name %></h1>
        <p class="artiste-genre"><%= @artiste.genre %></p>
          <p class="line-1-show"></p>
          <p class="line-2-show"></p>
        <p class="artiste-description"><%= @artiste.description %></p>
    </div>

    <div class="col-12 col-lg-4">
        <% if @artiste.photo.attached? %>
        <div>
          <%= cl_image_tag @artiste.photo.key, crop: :fill, :class => 'img-s-artiste' %>
          <div class="card-s-youtube">
            <%= cl_image_tag @artiste.photo.key, crop: :fill %>
            <div class="card-s-youtube-name">
                <h2>
                <%= @artiste.name %>
                <a href="<%= @artiste.youtube_link %>" target="_blank"> <i class="fas fa-play-circle"></i></a>
                </h2>
            </div>
          </div>
        </div>
        <% end %>
        <% if user_signed_in? %>
         <%= link_to "edit", edit_artiste_path , class: 'btn btn-primary'%>
        <% end %>
    </div>

  </div>
</div>


<div id="show-container" class="container mt-5 ">

  <div class="biography">
    <div class="col-12 col-lg-3">
      <h3 class="bio-s-title">BIOGRAPHY</h3>
      <p class="line-3-show"></p>
      <p class="line-3-show-bis"></p>
    </div>
    <div class="col-12 col-lg-9">
      <p class="bio-s"><%= @artiste.biography %></p>
    </div>
  </div>






  <div class="dessous">
    <div class="col-12 col-lg-3">
      <p class="dessous-s-title">LES DESSOUS DE L’ENTREVUE</p>
      <p class="line-4-show"></p>
      <p class="line-4-show-bis"></p>
    </div>

    <div class="col-12 col-lg-9">
        <p class="dessous-s"> <%= @artiste.les_dessous %></p>
    </div>
  </div>


  <div class="dernieres">
    <div class="col-12 col-lg-3">
      <p class="dessous-s-title">DERNIÈRES SORTIES</p>
      <p class="line-5-show"></p>
      <p class="line-5-show-bis"></p>
    </div>

    <div class="col-12 col-lg-9">
      <%= render partial: 'artistes/youtube', locals: {artiste: @partiste, youtube_nouveaute1: @youtube_nouveaute1, user: @user} %>
    </div>
  </div>

    <div class="contact">
      <div class="col-12 col-lg-3">
        <p class="dessous-s-title">CONTACT</p>
        <p class="line-6-show"></p>
        <p class="line-6-show-bis"></p>
      </div>

      <div class="col-12 col-lg-9">
        <div class="iphones">
          <% if @artiste.reseau1.attached? %>
            <div class="iphone1">
              <h3 class="horizontal-show-insta">INSTAGRAM</h3>
              <%= cl_image_tag("ceyzngimbraboahlorc5",class:"iphone1bis") %>
              <%= cl_image_tag @artiste.reseau1.key, crop: :fill, :class => 'img-s-reseau1' %>
              <div class="redirection_reseaux_insta"><a href="https://www.instagram.com/qla.off/?hl=fr-ca"><i class="fab fa-instagram fa-2x" id="123" ></i></a></div>
            </div>
          <% end %>
          <% if @artiste.reseau2.attached? %>
            <div class="iphone2">
              <h3 class="horizontal-show-spotify">SPOTIFY</h3>
                <%= cl_image_tag("ceyzngimbraboahlorc5",class:"iphone2bis") %>
                <%= cl_image_tag @artiste.reseau2.key, crop: :fill, :class => 'img-s-reseau2' %>
                <div class="redirection_reseaux_spotify"><a href="https://www.instagram.com/qla.off/?hl=fr-ca"><i class="fab fa-spotify fa-2x"></i></a></div>
            </div>
          <% end %>
        </div>
          <div class="redirection_reseaux">
        </div>
      </div>
    </div>

</div>

<div>
  <%= link_to "back to list", artistes_path, class: 'btn btn-light' %>
</div>
</div>


