<div class="navbar transparent navbar-expand-sm navbar-light navbar-lewagon mr-5 pr-5">

  <%= link_to root_path, class: "logo-navbar" do %>
    <%= cl_image_tag("xygap41xkfo0pgvps4ri", class: "logo-navbar")%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <strong><%= link_to "#", class: "nav-link nav-title" do  %></strong>
       <div class="tab-underlined ">Ce que l'on fait</div>
       <% end %>
      </li>
      <li class="nav-item">
        <strong><%= link_to nouveautes_path, class: "nav-link nav-title" do %></strong>
        <div class="tab-underlined ">Nouveautés</div>
        <% end %>
      </li>
      <li class="nav-item">
        <strong><%= link_to artistes_path, class: "nav-link nav-title" do %></strong>
        <div class="tab-underlined ">Les artistes</div>
        <% end %>
      </li>
      <li class="nav-item">
        <strong><%= link_to artistes_path, class: "nav-link nav-title" do %></strong>
        <div class="tab-underlined ">À propos</div>
        <% end %>
      </li>
       <li class="nav-item">
        <strong><%= link_to artistes_path, class: "nav-link nav-title" do %></strong>
        <div class="tab-underlined ">Contact</div>
        <% end %>
      </li>
      </li>
    </ul>
  </div>

</div>
