<div class="navbar transparent navbar-expand-sm navbar-light navbar-lewagon mr-5 pr-5">

  <%= link_to root_path, class: "logo-navbar" do %>
    <%= cl_image_tag("xygap41xkfo0pgvps4ri", class: "logo-navbar")%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <strong><%= link_to "Ce que l'on fait", "#", class: "nav-link nav-title tab-underlined text-dark" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "Nouveautés", nouveautes_path, class: "nav-link nav-title text-dark" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "Les artistes", artistes_path, class: "nav-link nav-title text-dark" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "À propos", artistes_path, class: "nav-link nav-title text-dark" %></strong>
      </li>
       <li class="nav-item">
        <strong><%= link_to "Contact", artistes_path, class: "nav-link nav-title text-dark" %></strong>
      </li>
      </li>
    </ul>
  </div>

</div>
