      <a name="top"></a>
<div class="container container-1">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1 class="main-header-1">Que l'artiste</h1>
      <h4 class="sub-title">Les entrevues plaisir</h4>
    </div>
    <div class="col-12 col-lg-4">
      <p class="text-welcome">Bienvenue,<br> tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? <br> Tu es à la bonne place !</p>
      <p class="line-1"></p>
      <p class="line-2"></p>
    </div>
    <div class="youtube-home">
      <iframe width="926" height="448" src="https://www.youtube.com/embed/ozHgsLa3q40" allowfullscreen></iframe>
    </div>
  </div>
</div>
  <a href="#top" class="btn-arrow fas fa-angle-double-up text-decoration-none"></a>
<div class="social-links ml-5">
  <div class="youtube-social-link">
    <a href="https://www.youtube.com/channel/UCf9PtjmaF2KP4tW81djacEQ"><i class="fab fa-youtube fa-2x fa-fw"></i></a>
  </div>
  <div class="tiktok-social-link">
    <a href="#"><i class="fab fa-tiktok fa-fw fa-2x"></i></a>
  </div>
  <div class="instagram-social-link">
    <a href="https://www.instagram.com/qla.off/?hl=fr-ca"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
  </div>
</div>

<div class="container block-wwd">
  <div class="row pt-5">
    <div class="col-12 col-lg-3 animation-1">
      <h3 class="horizontal-header" >CE QUE L'ON FAIT</h3>
      <p class="horizontal-subtitle">EN TOUTE SIMPLICITÉ</p>
      <p class="line-3"></p>
    </div>
    <div class="col-12 col-lg-9">
      <h2 class="main-header-2" id="wwd">Fait par et pour<br> des artistes</h2>
      <%= cl_image_tag("j1ymuntctt6klxdkbxox",class:"wwd-img") %>
      <p class="wwd-text">En tant que média indépendant, Que L’Artiste vous emmène dans l’univers des artistes montréalais. Nous proposons une solution au manque de diffusion pour les créateurs.</p>
      <p class="line-wwd-1"></p>
      <p class="line-wwd-2"></p>
    </div>
  </div>

  <div class="interview">
    <div class="row pt-5">
      <div class="col-12 col-lg-3 animation-2">
        <h3 class="horizontal-entrevue">NOUVELLE ENTREVUE</h3>
        <p class="horizontal-entrevue-subtitle">PLAISIR</p>
        <p class="line-4"></p>
      </div>
      <div class="container carousel-position-home">
        <%= render "pages/carousel_home" %>
        <p class="line-interview-1"></p>
        <p class="line-interview-2"></p>
       </div>
    </div>
  </div>
  <p id="artistes"></p>
    <%= render "artistes/artistes_carousel"%>


    <div class="col-12 col-lg-9 home-5">
      <h1 class="main-header-5" id="about">L’équipe QLA</h1>
      <div class="cards-artists">
       <div id="thomas">
         <%= image_tag "Thomas.png", :class => "hover1" %>
         <p class="text_1">Étudiant au baccalauréat en médias interactifs à l’Université du Québec 
          à Montréal (UQÀM), Thomas Paquet est monteur pour QLA depuis 2021.
          Passionné par le domaine des communications et des arts, il est parallèlement impliqué, 
          depuis 2020, comme photographe, vidéaste et monteur dans le magazine Le Culte. De plus, 
          il est pigiste chez Seizeneuf depuis 2020.</p>
        </div>
        <div id="gizzo">
          <%= image_tag "Gizzo.png", :class => "hover2"%>
          <p class="text_2">Geneviève Lirio Dohring aussi connue sous le surnom Gizzo,
           est une jeune photographe basée à Montréal. Ayant passé plusieurs années à l’étranger,
          elle a toujours été inspirée par les personnes qui l’entourent. Motivée par sa passion pour 
          l’apprentissage du processus créatif des artistes, elle se joint à l’équipe de QLA pour documenter 
          les rencontres avec ces artistes. De plus, elle prend part dans la conception de l’identité de QLA 
          aux côtés d’Étienne Delorme.</p>
        </div>
        <div id="etienne">
          <%= image_tag "Etienne.png", :class => "hover3" %>
          <p class="text_3">Etienne que vous pouvez retrouver sous le pseudo @false.joye sur Instagram est
           un vidéaste autodidacte et indépendant. Après plusieurs réalisations de courts-métrages et vidéos
           corporatives, il s’intéresse de plus près aux artistes de Montréal et ses alentours. C'est en remarquant
           le manque de plateformes de diffusions pour les artistes plus underground qu’il décide de créer QLA en 2020.
           Il est rejoint par plusieurs collaborateurs tout au long de cette aventure ! </p>
        </div>
        <div id="mathieu">
          <%= image_tag "Mathieu.png", :class => "hover4" %>
          <p class="text_4"></p>
        </div>
        <div class="group-lines">
          <p class="line-team-1"></p>
          <p class="line-team-2"></p>
          <p class="line-team-3"></p>
          <p class="line-team-4"></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 block-team">
      <h3 class="horizontal-header-team">À PROPOS</h3>
      <p class="horizontal-subtitle-team">DERRIÈRE LA CAMÉRA</p>
      <p class="line-team"></p>
    </div>

  <%= render "contacts/new" %>


   <div>
    <ul class="admin-sign mr-auto ">
      <% if user_signed_in? %>
        <li class="nav-item dropdown ">
          <div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
          </div>
          </div>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Admin", new_user_session_path, class: "btn btn-light" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
