<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1 class="main-header-1">Que l'artiste</h1>
      <h4 class="sub-title">Les entrevues plaisir</h4>
    </div>
    <div class="col-12 col-lg-4">
      <p class="text-welcome">Bienvenue,<br> tu veux découvrir des talents en plein essor venant de Montréal et plus largement du Québec ? <br> Tu es à la bonne place !</p>
      <p class="line-1"></p>
      <p class="line-2"></p>
    </div>
    <div class="youtube-home">
      <iframe width="926" height="448" src="https://www.youtube.com/embed/ozHgsLa3q40" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="social-links ml-5">
  <a href="https://www.youtube.com/channel/UCf9PtjmaF2KP4tW81djacEQ"><i class="fab fa-youtube fa-2x"></i></a>
  <a href="#"><i class="fab fa-tiktok fa-2x"></i></a>
  <a href="https://www.instagram.com/qla.off/?hl=fr-ca"><i class="fab fa-instagram fa-2x"></i></a>
</div>

<div class="container mt-5 ">
  <div class="row pt-5">
    <div class="col-12 col-lg-3 animation-1">
      <h3 class="horizontal-header" >CE QUE L'ON FAIT</h3>
      <p class="horizontal-subtitle">EN TOUTE SIMPLICITÉ</p>
      <p class="line-3"></p>
    </div>
    <div class="col-12 col-lg-9">
      <h2 class="main-header-2" id="wwd">Fait par et pour<br> les artistes</h2>
      <%= cl_image_tag("j1ymuntctt6klxdkbxox",class:"wwd-img") %>
      <p class="wwd-text">En tant que média indépendant, Que L’Artiste vous emmène dans l’univers des artistes montréalais. Nous proposons une solution au manque de diffusion pour les créateurs.</p>
    </div>
  </div>

<div>
    <%= render "nouveautes/carousel" %>
</div>
<p id="artistes"></p>
    <%= render "artistes/artistes_carousel"%>


    <div class="col-12 col-lg-9 home-5">
      <h1 class="main-header-5" id="about">L’équipe QLA</h1>
      <div class="cards-artists">
        <%= image_tag "Thomas.png"; %>
        <%= image_tag "Gizzo.png";%>
        <%= image_tag "Etienne.png"; %>
        <%= image_tag "Mathieu.png";  %>
        <div class="group-lines">
          <p class="line-team-1"></p>
          <p class="line-team-2"></p>
          <p class="line-team-3"></p>
          <p class="line-team-4"></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <h3 class="horizontal-header-team">À PROPOS</h3>
      <p class="horizontal-subtitle-team">DERRIÈRE LA CAMÉRA</p>
      <p class="line-team"></p>
    </div>

  <%= render "contacts/new" %>
</div>
