<h1 class="main-header-6" id="contact">Discutons !</h1>
<div class="form-block">
  <div class="row">
    <div class="col-12 col-lg-3 block-contact">
      <h3 class="horizontal-header-contact">CONTACT</h3>
      <p class="horizontal-subtitle-contact">ENVOIE DE L’AMOUR</p>
      <p class="line-contact"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-9">
      <%= form_for :contact , :html => {:class => "form-horizontal", :role => "form"}, url: contacts_path, remote: true do |f|%>
          <div class="col-md-6 position-form">
              <%= f.label :name %>

              </br>

                <%= f.text_field  :name, required: true, class: "contact-form-text-area", placeholder: "TON NOM OU PSEUDONYME" %></br>

              <%= f.label :email %>

              </br>

              <%= f.text_field :email, required: true, class: "contact-form-text-area", placeholder: "TON EMAIL" %></br>

              </br>

               <label for="exampleFormControlSelect1">choisi un sujet</label>
                <select class="contact-form-text-area" id="exampleFormControlSelect1">
                  <option>Je suis interessé pour une entrevue</option>
                  <option>Offre de partenariat</option>
                </select>


            <%= f.label :message %>
              </br>

            <%= f.text_area :message, as: :text, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                              placeholder: "DIS NOUS EN PLUS!"%></br>

            <div class= "hidden">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>

            <%= f.submit 'Envoyer', class: 'btn btn-light' %>
          </div>
        <% end %>
        <div class="col-md-6" id="flash-message">
          <%= render 'home/flash' %>
        </div>
    </div>
  </div>
</div>
