<div>
    <h5> Citations</h5>
        <% nouveautes.each do |nouveaute| %>
        <li class="list-group-item"><%= nouveaute.citation %> id: <%= nouveaute.id %> 
            <% if user_signed_in? %>
                <%= link_to "Supprimer", nouveaute_path(nouveaute), method: :delete, class: 'btn btn-danger' %> 
                <%= link_to "edit", edit_nouveaute_path(nouveaute), class: 'btn btn-light' %></li>
                <%= link_to "create citation", new_artiste_nouveaute_path(@artiste), class: 'btn btn-primary' %>
            <% end %>
        <% end %>
<div>

