
<div class="container">
<h1>Les dernières nouveautés</h1>
<%= link_to "ajouter une nouveauté", new_artiste_nouveaute_path , class: 'btn btn-success'%>
  <ul>
    <% @nouveautes.each do |nouveaute| %>
      <%# <h2><strong><%= "#{@artistes.name}" %>
      <p><%= nouveaute.citation %></p>
      <%= link_to "aller voir", artiste_nouveautes_path(nouveaute), class: 'btn btn-primary' %>
      <%= link_to "Supprimer", nouveaute_path(nouveaute), method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </ul>
</div>





