
<div class="container">
  <h1>Les dernières nouveautés</h1>
  
  <% @nouveautes.each do |nouveaute| %>
  <%=  nouveaute.citation%>
  <%end  %>
    



        <p><%= @nouveautes.last(3)[0].citation%></p>
        <p><%= @nouveautes.last(3)[1].citation%></p>
        <p><%= @nouveautes.last(3)[2].citation%></p>


       <%# <p><%= nouveaute.citation %>
</div>

      <%# <%= link_to "aller voir", artiste_nouveautes_path(nouveaute), class: 'btn btn-primary' %>


