<h1>Les dernières nouveautés</h1>

<div class="container">
<%= link_to "ajouter une nouveauté", new_artiste_nouveaute_path , class: 'btn btn-success'%>
  <ul>
    <% @nouveautes.each do |nouveaute| %>
      <H2><strong><%= link_to nouveaute.name, artiste_nouveautes_path(nouveaute) %></strong></h2>
      <p><%= nouveaute.citation %></p>
      <%= link_to "allez voir", artiste_nouveautes_path(nouveaute), class: 'btn btn-primary' %>
      <%= link_to "Supprimer", artiste_nouveautes_path(nouveaute), method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </ul>
</div>





